<nav class="container-fluid navbar-container">
      <div class="row align-items-center justify-content-end h-100 sub-nav-div">
        <div class="col-auto btn-row" >
          <button mat-button class = "nav-bar-btn" style = "color: white" >Register</button>
          <button mat-button class = "nav-bar-btn" style = "color: white">Profile</button>
          <button mat-button class = "nav-bar-btn" style = "color: white">Income</button>
          <button mat-button class = "nav-bar-btn" style = "color: white">Wallet</button>
        </div>
    </div>
</nav>
