<div class="container-fluid navbar-container">
      <div class="row align-items-center justify-content-end sub-nav-div">
          <button mat-button class = "nav-bar-btn" style = "color: white" >Register</button>
          <button mat-button class = "nav-bar-btn" style = "color: white">Profile</button>
          <button mat-button class = "nav-bar-btn" style = "color: white">Income</button>
          <button mat-button class = "nav-bar-btn" style = "color: white">Wallet</button>
    </div>
</div>
