<div class="container-fluid">
  <div class="row card-up">
    <div class="col-10">
      <div class="row image">
        <img src="assets/images/LOGO.png" alt="nema logo">
      </div>

      <div class="row h">
        <h1>Add your new binary person</h1>
      </div>

      <div class="row register-form">
        <form class="fields-form" [formGroup]="registerForm">
          <mat-form-field>
            <mat-label>Choose a spot</mat-label>
            <mat-select>
              <!--            neshto mai s ngFor da pravq opcii kato e gotov metoda-->
              <mat-option value=1>ngFor</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose a direction</mat-label>
            <mat-select formControlName="direction">
              <!--                      [(ngModel)]="planovete.dto">-->
              <mat-option value=1>Left</mat-option>
              <mat-option value=2>Right</mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.get('direction')?.hasError('required')">Required field!</mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
