.container-fluid{
  background: #ececec;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img{
  top: 20px;
  left: 10px;
  position: relative;
  width: 35px;
  height: 35px;
}

.name-col-auto{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.card-up{
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #232c31;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
}

.right mat-label{
  font-family: "Poppins", sans-serif;
}

.btn{
  background: #7f06cc;
  color: white;
}

.fields-form{
  width:235px;
}

mat-form-field{
  width:100%;
}

.image{
  background-image: url('/assets/images/binary.jpg');
  height: 35%;
  border-radius: 10px;
  background-size: cover;
  width: 900px;
}

.h{
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 20%;
}

.register-form{
  width: 900px;
  justify-content: center;
  align-items: center;
}

::ng-deep.mdc-menu-surface{
  background-color:  white;
}

::ng-deep.mat-mdc-option .mdc-list-item__primary-text {
  color:black;
}

::ng-deep.mat-mdc-option:hover:not(.mdc-list-item--disabled){
  background: rgb(198, 179, 255);
}
