<div class="container-fluid navbar-container">
  <div class="row align-items-center justify-content-between h-100">
    <div class="col-auto">
      <button class="home-btn" routerLink="/">
        <i class="fa fa-home fa-lg" style="color: white;"></i>
      </button>
    </div>
    <div class="col-auto">
      <button mat-button class="nav-bar-btn" style="color: white" routerLink="/register">Register</button>
      <button mat-button class="nav-bar-btn" style="color: white" routerLink="/login">Login</button>
      <button mat-button class="nav-bar-btn" style="color: white" routerLink="/profile">Profile</button>
      <button mat-button class="nav-bar-btn" style="color: white" routerLink="/income">Income</button>
      <button mat-button [matMenuTriggerFor]="menu" class="nav-bar-btn" style="color: white">Wallet</button>
      <mat-menu class="mat-menu" #menu="matMenu">
        <div class="col-auto">
          <div class="row justify-content-center align-items-center dropdowns">
            <div class="col-auto" *ngIf="balance">
              Balance: {{balance}}
            </div>
          </div>
          <div class="row justify-content-between dropdowns">
            <div class="col-auto">
              <div class="col-auto">
                Left: {{leftC}}
              </div>
              <div class="col-auto">
                Right: {{rightC}}
              </div>
            </div>
          </div>
          <div class="row justify-content-center dropdowns">
            <div class="col-auto">
              <button mat-menu-item (click)="deposit()" class="deposit">
                <span>Deposit</span>
              </button>
            </div>
          </div>
          <div class="row justify-content-center dropdowns">
            <div class="col-auto">
              <button mat-menu-item (click)="withdraw()" class="withdraw" >
                <span>Withdraw</span>
              </button>
            </div>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
  <div class="row">
    <mat-progress-bar mode="determinate" class="nav-bar-line"></mat-progress-bar>
  </div>
</div>

