.container-fluid{
  background: #ececec;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.side-image{
  background-image: url('/assets/images/login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.text{
  position: absolute;
  color: white;
  bottom: 0;
}

.row{
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
}

.right{
  display: flex;
}

.right mat-label{
  font-family: "Poppins", sans-serif;
}

.fields-form{
  width:235px;
}

mat-form-field{
  width:100%;
}

h1{
  width: 100%;
  color: #099FFF;
  padding-bottom: 5px;
  font-family: "Neon", sans-serif;
  font-size: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

img{
  top: 20px;
  left: 10px;
  position: relative;
  width: 35px;
}

.btn{
  background: #099FFF;
  color: white;
}
